//.main-bar
$main-bar-color: #3b5998;
$main-bar-element-height: 24px;

//.search-form
$border-radius-search-form: 2px;

//.user-info
$font-weight-user-info: bold;
$user-info-division: #365089;
$user-info-news-opacity-hover: 0.8;